 {% extends 'base1.html' %} {% load static %} {% block content %}

<div class="w3-container w3-content w3-teal w3-round-large w3-paddinge" style="max-width:500px">
    <form class="w3-container" action="/action_page.php">
        <div class="w3-section">
            <h2>Login</h2>
            <label><b>Username</b></label>
            <input class="w3-input w3-border w3-round-large w3-margin-bottom" type="text" placeholder="Enter Username" name="usrname" required>
            <label><b>Password</b></label>
            <input class="w3-input w3-border w3-round-large" type="password" placeholder="Enter Password" name="psw" required>

            <input class="w3-check w3-margin-top" type="checkbox" checked="checked"> Remember me
            <button class="w3-button w3-round-large w3-block w3-green w3-section w3-padding" type="submit">Login</button>
            <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
        </div>
    </form>


</div>

</div>



{% endblock %}