{% extends 'base1.html' %} {% block content %}

<div class=" w3-container w3-content w3-teal w3-round-large w3-padding" style="max-width:500px">
    <div class="w3-container">
        <h2>Upload</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {% for field in form %}
            <div class="w3-form">
                <h4 class="w3-text-white">{{ field.label_tag }}</h4>
                <p>{{ field }}</p>


            </div>
            {% endfor %}

            <button class="w3-button w3-green w3-round-large" type="submit">Upload</button>
            <button class="w3-button w3-red w3-round-large" type="reset">Reset</button>
        </form>
    </div>

</div>




{% endblock %}