{% extends 'base1.html' %} {% load static %} {% block content %}



<div class="w3-container w3-content w3-teal  w3-paddinge" style="max-width:500px">

    <div class="w3-section">
        <h2>Report</h2>
        <h2>{{ d.document.name }}</h2>

        <form method="POST">
            {% csrf_token %}{% for field in form %}
            <div class="w3-form">
                <h4 class="w3-text-white">{{ field.label_tag }}</h4>
                <p>{{ field }}</p>



            </div>
            {% endfor %}



            <button class="w3-button  w3-block w3-green w3-section w3-padding" type="submit">Report</button>

        </form>
    </div>

</div>
{% endblock %}